body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #120000, #1a0000);
  color: #ffd700;
}

/* Header */
header {
  background: linear-gradient(90deg, #8b0000, #b30000);
  padding: 18px;
  text-align: center;
  border-bottom: 3px solid #ffd700;
  box-shadow: 0 0 10px #000;
}

header h1 {
  margin: 0;
  color: #ffd700;
  letter-spacing: 2px;
}

/* Layout */
.container {
  display: flex;
}

/* Sidebar */
aside {
  width: 220px;
  background: #1a0000;
  padding: 10px;
  border-right: 2px solid #ffd700;
  height: 100vh;
}

aside h2 {
  color: #ffd700;
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  padding: 12px;
  margin: 5px 0;
  cursor: pointer;
  background: #2a0000;
  border-left: 3px solid #ffd700;
  transition: 0.3s;
  color: #ffd700;
}

aside li:hover {
  background: #8b0000;
  color: white;
}

/* Reader */
main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

main h2 {
  color: #ffd700;
}

main p {
  color: #ffcccc;
}

/* Images (for future manhua pages) */
main img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #ffd700;
  box-shadow: 0 0 15px #8b0000;
}
